/* Screen dimensions */
$maxScreen: 2560px;
$twoColGridMin: 1024px; 
$oneColMax: 700px; 
$minScreen: 320px; 

/* text */
$sidePadding: .75rem;
$spanFontWeight: 200;
$paragraphFontWeight: 200;

/* colors */
$hoverColor: #294f38;
$gray: #9e9e9e;