@import "_variables";
@import "_extend";

@mixin twoSideFormat($bgColor, $fontSize, $caps) {
    display: flex;
    justify-content: center;
    align-items: center;
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      img {
        width: 100%;
      }
      .explanation {
        background-color: $bgColor;
        font-size: $fontSize;
        padding: 20px;
        display: flex; 
        justify-content: center;
        align-items: center;
        strong {
            font-weight: 700;
        }
        @if ($caps) {
            text-transform: uppercase;
        } @else {
            flex-direction: column;
            text-align: center;
            h1 {
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
            }
            p {
                font-size: 1.5rem;
                font-weight: 300;
            }
        }
      }
    }
}

@mixin product($color) {
  margin: 5px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 20px;
  color: #fff;
  img {
    width: 100%;
    height: auto;
  }
  .product-text {
    display: grid;
    row-gap: 7px;
    grid-template-rows: 1fr 1fr 1.5fr;
    justify-items: center;
    align-items: center;
    .name {
      text-align: center;
      span:first-child {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500;
      }
      span:last-child {
        margin-top: 0.5rem;
        font-weight: 300;
      }
    }
    a:link, a:visited {
      color: #fff;
    }
    a:hover {
      color: $color;
    }

    button {
      @extend %buttonFormat;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }

  }
}